
body {
    --default-bg:#c8d5e7;
    background-color: var(--default-bg, #c8d5e7);
    border: 1pc ridge paleturquoise;
    margin-left:1cm; 
    margin-right:1cm;
    margin-top:1cm;
    margin-bottom:1cm;
}


nav {
    max-width:fit-content;
    text-align: center;
    & div {
        display: inline;
        & span:has(+span) {
            padding-right:30px;
            padding-left:20px;
        }
    }
}

span ~ span {
    padding-left:30px;
}

/*Types*/
h1 {
    color: rgb(43, 43, 156);
    text-align:center;
    text-decoration: underline overline blue;
}

h2 {
    color: #3e73be;
    text-align:center;
}

h3 {
    color:darkslateblue;
}

img {
    border-color:cornflowerblue;
    border-style:dashed;
    border-width:0.5em;
    width:200px;
}

video {
    border-color:cornflowerblue;
    border-style:double;
    border-width:0.6rem;
    height: 200px;
}

a {
    color: color(display-p3 0.082 0.3 0.3);
}   


.announcements div {
    padding-left: 2%;
    padding-right: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    min-width: auto;
}

.announcements > ul > li{
    padding: 10px 10px 10px 10px;
}

.discussion li {
    margin-bottom: 5px;
}

section.attendance {
    max-width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

article + article > ol{
    padding-top: 2.5in;
}

.attendance article {
    display: inline-block;
}


/*labels*/

#warning {
    color: hsl(0, 84%, 35%);
    text-align:center;
}


.title {
    max-width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position:sticky;
    top:0;
}

#action {
    margin: 0in 1in 0in 1in;
}

#updates {
    position:relative;
    top: 15px;
}

details:hover {
    color:red;
}

a[href="https://www.atsdr.cdc.gov/asbestos/health_effects_asbestos.html"]:active {
    text-decoration: wavy green overline underline;
}

#goals {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#goals div, #disc div {
    padding: 10px 10px 10px 10px;
    border-color:black; 
    border-style: solid;
    border-width:3px;
}


@media (width > 4in) {
#disc {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
       "first second"
       "third fourth";
}
}


